import (
	"encoding/hex"
	"io"
	"math/rand"
	"testing"
	"time"
	"runtime/debug"
)

func TestFuzz(t *testing.T) {
	const maxBytes = 1 << 10
	const testCount = 7
	var bytes [maxBytes]byte
	var i int
	seed := time.Now().UnixNano()
	defer func() {
		if r := recover(); r != nil {
			t.Error(r)
			t.Error(string(debug.Stack()))
			t.Fatal("test panicked", i, hex.EncodeToString(bytes[:i]), "seed", seed)
		}
	}()
	r := rand.New(rand.NewSource(seed))

	for i = 1; i < maxBytes; i++ {
		for j := 0; j < testCount; j++ {
			if _, err := io.ReadFull(r, bytes[:i]); err != nil {
				t.Fatal("couldn't read random bytes", err)
			}

			Fuzz(bytes[:i]) 
		}
	}

}