
import (
	"math/big"
	"sync"

	"github.com/consensys/gnark-crypto/ecc/{{.Name}}/fr"

	{{- if .HasEndomorphism}}
		"github.com/consensys/gnark-crypto/ecc"
	{{- end}}
)

// CurveParams curve parameters: Ax^2 + y^2 = 1 + Dx^2*y^2
type CurveParams struct {
	A, D     fr.Element
	Cofactor fr.Element
	Order    big.Int
	Base     PointAffine
	{{- if .HasSplit2TorsionSubgroupCheck}}
	t0, t1, b fr.Element
	{{- end}}

	{{- if .HasEndomorphism}}
	// endomorphism
	endo     [2]fr.Element
	lambda   big.Int
	glvBasis ecc.Lattice
	{{- end}}
}

// GetEdwardsCurve returns the twisted Edwards curve on {{.Name}}/Fr
func GetEdwardsCurve() CurveParams {
	// copy to keep Order private
	var res CurveParams

	res.A.Set(&curveParams.A)
	res.D.Set(&curveParams.D)
	res.Cofactor.Set(&curveParams.Cofactor)
	res.Order.Set(&curveParams.Order)
	res.Base.Set(&curveParams.Base)
	{{- if .HasSplit2TorsionSubgroupCheck}}
	res.t0.Set(&curveParams.t0)
	res.t1.Set(&curveParams.t1)
	res.b.Set(&curveParams.b)
	{{- end}}

	{{- if .HasEndomorphism}}
	res.endo[0].Set(&curveParams.endo[0])
	res.endo[1].Set(&curveParams.endo[1])
	res.lambda.Set(&curveParams.lambda)
	res.glvBasis = curveParams.glvBasis // TODO @gbotrel do proper copy of that
	{{- end}}

	return res
}


var (
	curveParamsOnce    sync.Once
	curveParams        CurveParams
	fixedBaseTableOnce sync.Once
	fixedBaseTable     [fixedBaseWindowCount][fixedBaseWindowEntries]PointAffine
	{{- if .HasNonSplitSubgroupCheck}}
	subgroupInitOnce   sync.Once
	{{- end}}
)

func initCurveParams() {
	curveParams.A.SetString("{{.A}}")
	curveParams.D.SetString("{{.D}}")
	curveParams.Cofactor.SetString("{{.Cofactor}}")
	curveParams.Order.SetString("{{.Order}}", 10)

	curveParams.Base.X.SetString("{{.BaseX}}")
	curveParams.Base.Y.SetString("{{.BaseY}}")
	{{- if .HasSplit2TorsionSubgroupCheck}}
	curveParams.t0.SetString("{{.Split2TorsionT0}}")
	curveParams.t1.SetString("{{.Split2TorsionT1}}")
	curveParams.b.SetString("{{.Split2TorsionB}}")
	{{- end}}

	{{- if .HasEndomorphism}}
	curveParams.endo[0].SetString("{{.Endo0}}")
	curveParams.endo[1].SetString("{{.Endo1}}")
	curveParams.lambda.SetString("{{.Lambda}}", 10)
	ecc.PrecomputeLattice(&curveParams.Order, &curveParams.lambda, &curveParams.glvBasis)
	{{- end}}
}

func initFixedBaseTable() {
	var base PointAffine
	base.Set(&curveParams.Base)

	for i := range fixedBaseWindowCount {
		fixedBaseTable[i][0].setInfinity()
		fixedBaseTable[i][1].Set(&base)
		for j := 2; j < fixedBaseWindowEntries; j++ {
			fixedBaseTable[i][j].Add(&fixedBaseTable[i][j-1], &base)
		}
		for range fixedBaseWindowSize {
			base.Double(&base)
		}
	}
}

func init() {
	curveParamsOnce.Do(initCurveParams)
	fixedBaseTableOnce.Do(initFixedBaseTable)
}

// mulByA multiplies fr.Element by curveParams.A
func mulByA(x *fr.Element) {
	{{- if eq .A "-1"}}
		x.Neg(x)
	{{- else if eq .A "-5"}}
		x.Neg(x)
		fr.MulBy5(x)
	{{- else }}
        x.Mul(x, &curveParams.A)
	{{- end}}
}
