// Package {{.Package}} efficient elliptic curve and pairing implementation for {{.Name}}.
//
// Warning
//
// This code has not been audited and is provided as-is. In particular, there is no security guarantees such as constant time implementation or side-channel attack resistance.
package {{.Package}}