{{ $G1TAffine := print (toUpper .G1.PointName) "Affine" }}
{{ $G1TJacobian := print (toUpper .G1.PointName) "Jac" }}
{{ $G1TJacobianExtended := print (toLower .G1.PointName) "JacExtended" }}

{{ $G2TAffine := print (toUpper .G2.PointName) "Affine" }}
{{ $G2TJacobian := print (toUpper .G2.PointName) "Jac" }}
{{ $G2TJacobianExtended := print (toLower .G2.PointName) "JacExtended" }}


import (
	"github.com/consensys/gnark-crypto/ecc/{{.Name}}/fp"
	{{- if ne .G1.CoordType .G2.CoordType}}
	"github.com/consensys/gnark-crypto/ecc/{{.Name}}/internal/fptower"
	{{- end}}
)






{{ template "multiexp" dict "CoordType" .G1.CoordType "PointName" .G1.PointName "UPointName" (toUpper .G1.PointName) "TAffine" $G1TAffine "TJacobian" $G1TJacobian "TJacobianExtended" $G1TJacobianExtended "FrNbWords" .Fr.NbWords "CRange" .G1.CRange "LastCRange" .G1.LastCRange}}
{{ template "multiexp" dict "CoordType" .G2.CoordType "PointName" .G2.PointName "UPointName" (toUpper .G2.PointName) "TAffine" $G2TAffine "TJacobian" $G2TJacobian "TJacobianExtended" $G2TJacobianExtended "FrNbWords" .Fr.NbWords "CRange" .G2.CRange "LastCRange" .G2.LastCRange}}



{{define "multiexp" }}

type batchOp{{ $.TAffine }} struct {
	bucketID uint16
	point {{ $.TAffine }}
}

func (o batchOp{{ $.TAffine }}) isNeg() bool {
	return o.bucketID&1 == 1
}

// processChunk{{ $.UPointName }}BatchAffine process a chunk of the scalars during the msm
// using affine coordinates for the buckets. To amortize the cost of the inverse in the affine addition
// we use a batch affine addition.
// 
// this is derived from a PR by 0x0ece : https://github.com/ConsenSys/gnark-crypto/pull/249
// See Section 5.3: ia.cr/2022/1396
func processChunk{{ $.UPointName }}BatchAffine[B ib{{ $.TAffine }}, BS bitSet, TP p{{ $.TAffine }}, TPP pp{{ $.TAffine }}, TQ qOps{{ $.TAffine }}, TC c{{ $.TAffine}}](
	 chunk uint64,
	 chRes chan<- {{ $.TJacobianExtended }},
	 c uint64,
	 points []{{ $.TAffine }},
	 digits []uint16) {

	// init the buckets
	var buckets B
	for i := 0; i < len(buckets); i++ {
		buckets[i].setInfinity()
	}

	// setup for the batch affine;
	// we do that instead of a separate object to give enough hints to the compiler to..
	var bucketIds BS // bitSet to signify presence of a bucket in current batch
	cptAdd := 0 // count the number of bucket + point added to current batch

	
	var R TPP // bucket references 
	var P TP // points to be added to R (buckets); it is beneficial to store them on the stack (ie copy)
	
	batchSize := len(P)
	
	
	canAdd := func(bID uint16) bool {
		return !bucketIds[bID]
	}

	isFull := func() bool {
		return (cptAdd) == batchSize
	}

	executeAndReset := func ()  {
		if (cptAdd) == 0 {
			return
		}
		batchAdd{{ $.TAffine }}[TP, TPP, TC](&R, &P, cptAdd)
		
		var tmp BS
		bucketIds = tmp
		cptAdd = 0
	}

	addFromQueue := func(op batchOp{{$.TAffine}}) {
		// CanAdd must be called before --> ensures bucket is not "used" in current batch
	
		BK := &buckets[op.bucketID]
		// handle special cases with inf or -P / P
		if BK.IsInfinity() {
			BK.Set(&op.point)
			return
		}
		if BK.X.Equal(&op.point.X) {
			if BK.Y.Equal(&op.point.Y) {
				// P + P: doubling, which should be quite rare --
				// TODO FIXME @gbotrel / @yelhousni this path is not taken by our tests.
				// need doubling in affine implemented ?
				BK.Add(BK, BK)
				return
			}
			BK.setInfinity()
			return
		}
		
	
		bucketIds[op.bucketID] = true
		R[cptAdd] = BK
		P[cptAdd] = op.point
		cptAdd++
	}

	add := func(bucketID uint16, PP *{{$.TAffine}}, isAdd bool) {
		// CanAdd must be called before --> ensures bucket is not "used" in current batch
	
		BK := &buckets[bucketID]
		// handle special cases with inf or -P / P
		if BK.IsInfinity() {
			if isAdd {
				BK.Set(PP)
			} else {
				BK.Neg(PP)
			}
			return
		}
		if BK.X.Equal(&PP.X) {
			if BK.Y.Equal(&PP.Y) {
				// P + P: doubling, which should be quite rare --
				// TODO FIXME @gbotrel / @yelhousni this path is not taken by our tests.
				// need doubling in affine implemented ?
				if isAdd {
					BK.Add(BK, BK)
				} else {
					BK.setInfinity()		
				}
				
				return
			}
			if isAdd {
				BK.setInfinity()
			} else {
				BK.Add(BK, BK)
			}
			return
		}
		
	
		bucketIds[bucketID] = true
		R[cptAdd] = BK
		if isAdd {
			P[cptAdd].Set(PP)
		} else {
			P[cptAdd].Neg(PP)
		}
		cptAdd++
	}
	

	var queue TQ
	qID := 0

	processQueue := func () {
		for i := qID - 1; i >= 0; i-- {
			if !canAdd(queue[i].bucketID) {
				continue
			}
			addFromQueue(queue[i])
			if isFull() {
				executeAndReset()
			}
			queue[i] = queue[qID-1]
			qID--
		}
	}

	processTopQueue := func() {
		for i := qID - 1; i >= 0; i-- {
			if !canAdd(queue[i].bucketID) {
				return
			}
			addFromQueue(queue[i])
			if isFull() {
				executeAndReset()
			}
			qID--
		}
	}

	for i, digit := range digits {

		if digit == 0 || points[i].IsInfinity() {
			continue
		}

		bucketID := uint16((digit>>1))
		isAdd := digit&1 == 0
		if isAdd {
			// add
			bucketID-=1
		}

		if !canAdd(bucketID) {
			// put it in queue
			queue[qID].bucketID = bucketID
			if isAdd {
				queue[qID].point = points[i]
			} else {
				queue[qID].point.Neg(&points[i])
			}
			qID++

			// queue is full, flush it.
			if qID == len(queue) - 1 {
				executeAndReset()
				processQueue()
			}
			continue
		}

		// we add the point to the batch.
		add(bucketID, &points[i], isAdd)
		if isFull() {
			executeAndReset()
			processTopQueue()
		}
	}

	// empty the queue
	for qID != 0 {
		processQueue()
		executeAndReset()
	}

	// flush items in batch.
	executeAndReset()

	// reduce buckets into total
	// total =  bucket[0] + 2*bucket[1] + 3*bucket[2] ... + n*bucket[n-1]

	var runningSum, total {{ $.TJacobianExtended }}
	runningSum.setInfinity()
	total.setInfinity()
	for k := len(buckets) - 1; k >= 0; k-- {
		if !buckets[k].IsInfinity() {
			runningSum.addMixed(&buckets[k])
		}
		total.add(&runningSum)
	}

	chRes <- total

}

// we declare the buckets as fixed-size array types
// this allow us to allocate the buckets on the stack
{{- range $c :=  $.CRange}}
{{- if gt $c 9}}
type bucket{{ $.TAffine }}C{{$c}} [1<<({{$c}}-1)]{{ $.TAffine }}
{{- end}}
{{- end}}


// buckets: array of {{ $.TAffine }} points of size 1 << (c-1)
type ib{{ $.TAffine }} interface {
	{{- range $i, $c :=  $.CRange}}
	{{- if gt $c 9}}
	bucket{{ $.TAffine }}C{{$c}} {{- if not (last $i $.CRange)}} | {{- end}}
	{{- end}}
	{{- end}}
}

// array of coordinates {{ $.CoordType }}
type c{{ $.TAffine }} interface {
	{{- range $i, $c :=  $.CRange}}
	{{- if gt $c 9}}
	c{{ $.TAffine }}C{{$c}} {{- if not (last $i $.CRange)}} | {{- end}}
	{{- end}}
	{{- end}}
}

// buckets: array of {{ $.TAffine }} points (for the batch addition)
type p{{ $.TAffine }} interface {
	{{- range $i, $c :=  $.CRange}}
	{{- if gt $c 9}}
	p{{ $.TAffine }}C{{$c}} {{- if not (last $i $.CRange)}} | {{- end}}
	{{- end}}
	{{- end}}
}

// buckets: array of *{{ $.TAffine }} points (for the batch addition)
type pp{{ $.TAffine }} interface {
	{{- range $i, $c :=  $.CRange}}
	{{- if gt $c 9}}
	pp{{ $.TAffine }}C{{$c}} {{- if not (last $i $.CRange)}} | {{- end}}
	{{- end}}
	{{- end}}
}

// buckets: array of {{ $.TAffine }} queue operations (for the batch addition)
type qOps{{ $.TAffine }} interface {
	{{- range $i, $c :=  $.CRange}}
	{{- if gt $c 9}}
	q{{ $.TAffine }}C{{$c}} {{- if not (last $i $.CRange)}} | {{- end}}
	{{- end}}
	{{- end}}
}


{{- range $c :=  $.CRange}}
{{if gt $c 9}}
// batch size {{batchSize $c}} when c = {{$c}}
type c{{ $.TAffine }}C{{$c}} [{{batchSize $c}}]{{ $.CoordType }}
type p{{ $.TAffine }}C{{$c}} [{{batchSize $c}}]{{ $.TAffine }}
type pp{{ $.TAffine }}C{{$c}} [{{batchSize $c}}]*{{ $.TAffine }}
type q{{ $.TAffine }}C{{$c}} [{{batchSize $c}}]batchOp{{ $.TAffine }}
{{- end}}
{{- end}}


{{end }}

{{- range $c :=  $.G1.CRange}}
type bitSetC{{$c}} [1<<({{$c}}-1)]bool
{{- end}}

type bitSet interface {
	{{- range $i, $c :=  $.G1.CRange}}
	bitSetC{{$c}} {{- if not (last $i $.G1.CRange)}} | {{- end}}
	{{- end}}
}
