import (
	fr "{{ .FieldPackagePath }}"
)


// indices used for gather (transpose) operation
var indexGather4 []uint32
var maskPermD []uint32

func init() {
	indexGather4 = make([]uint32, 16)
	for i := 0; i < 16; i++ {
		indexGather4[i] = uint32(i * 4)
	}
	maskPermD = make([]uint32, 16)
	// we want [0,0,0,0, 1,1,1,1, 2,2,2,2, 3,3,3,3]
	for i := 0; i < 16; i++ {
		maskPermD[i] = uint32(i / 4)
	}
}

// index table used in avx512 shuffling
var vInterleaveIndices = []uint64 {
	2, 3, 8, 9, 6, 7, 12, 13,
}


// q + r'.r = 1, i.e., qInvNeg = - q⁻¹ mod r
// used for Montgomery reduction
const qInvNeg = {{.QInvNeg}}
const q = {{.Q}}

//go:noescape
func mulAccByElement_avx512(alpha *E4, scale *fr.Element, res *E4, N uint64)

//go:noescape
func vectorAdd_avx512(res, a, b *E4, N uint64)

//go:noescape
func vectorSub_avx512(res, a, b *E4, N uint64)

//go:noescape
func vectorMul_avx512(res, a, b *E4, N uint64)

//go:noescape
func vectorScalarMul_avx512(res, a, b *E4, N uint64)

//go:noescape
func vectorInnerProduct_avx512(res *[32]uint64, a, b *E4, N uint64)

//go:noescape
func vectorSum_avx512(res *[4]uint64, a *E4, N uint64)

//go:noescape
func vectorMulByElement_avx512(res, a *E4, b *fr.Element, N uint64)

//go:noescape
func vectorButterfly_avx512(a, b *E4, N uint64)

//go:noescape
func vectorButterflyPair_avx512(a *E4, N uint64)