import (
	fr "{{ .FieldPackagePath }}"
)

func permutation24_avx512(input []fr.Element, roundKeys [][]fr.Element) {
	panic("permutation24_avx512 is not implemented")
}

func permutation16_avx512(input []fr.Element, roundKeys [][]fr.Element) {
	panic("permutation16_avx512 is not implemented")
}

func permutation16x24_avx512(input *[24][16]fr.Element, roundKeys [][]fr.Element) {
	panic("permutation16x24_avx512 is not implemented")
}

{{- if eq .FF "koalabear"}}
func permutation16x16x512_avx512(matrix *fr.Element, roundKeys [][]fr.Element, result *fr.Element) {
	panic("permutation16x16x512_avx512 is not implemented")
}

func permutation16x16x512_arm64(matrix *fr.Element, roundKeys [][]fr.Element, result *fr.Element) {
	panic("permutation16x16x512_arm64 is not implemented")
}
{{- end }}