{{define "mul_doc noCarry"}}
// Algorithm 2 of "Faster Montgomery Multiplication and Multi-Scalar-Multiplication for SNARKS" 
// by Y. El Housni and G. Botrel https://doi.org/10.46586/tches.v2023.i3.504-521
{{ end }}