import (
	_ "{{.ASMPackagePath}}"
	"github.com/consensys/gnark-crypto/utils/cpu"
	"math/big"
	"sync"
)

var sumPool = sync.Pool{
	New: func() any {
		return new(big.Int)
	},
}

// Add adds two vectors element-wise and stores the result in self.
// It panics if the vectors don't have the same length.
func (vector *Vector) Add(a, b Vector) {
	if len(a) != len(b) || len(a) != len(*vector) {
		panic("vector.Add: vectors don't have the same length")
	}
		n := uint64(len(a))
	if n == 0 {
		return
	}
	addVec(&(*vector)[0], &a[0], &b[0], n)
}

//go:noescape
func addVec(res, a, b *{{.ElementName}}, n uint64)

// Sub subtracts two vectors element-wise and stores the result in self.
// It panics if the vectors don't have the same length.
func (vector *Vector) Sub(a, b Vector) {
	if len(a) != len(b) || len(a) != len(*vector) {
		panic("vector.Sub: vectors don't have the same length")
	}
	n := uint64(len(a))
	if n == 0 {
		return
	}
	subVec(&(*vector)[0], &a[0], &b[0], n)
}

//go:noescape
func subVec(res, a, b *{{.ElementName}}, n uint64)

// ScalarMul multiplies a vector by a scalar element-wise and stores the result in self.
// It panics if the vectors don't have the same length.
func (vector *Vector) ScalarMul(a Vector, b *{{.ElementName}}) {
	if len(a) != len(*vector) {
		panic("vector.ScalarMul: vectors don't have the same length")
	}
	n := uint64(len(a))
	if n == 0 {
		return
	}
	const maxN = (1 << 32) - 1
	{{- if eq .NbWords 4}}
	// IFMA path (available on Ice Lake+, Zen4+)
	// Uses AVX-512 IFMA instructions for fast vectorized multiplication
	if cpu.SupportAVX512IFMA && n >= 8 && n < maxN {
		const blockSize = 8
		scalarMulVec(&(*vector)[0], &a[0], b, n/blockSize)
		if n % blockSize != 0 {
			start := n - n % blockSize
			scalarMulVecGeneric((*vector)[start:], a[start:], b)
		}
		return
	}
	{{- end}}
	scalarMulVecGeneric(*vector, a, b)
}

{{- if eq .NbWords 4}}
//go:noescape
func scalarMulVec(res, a, b *{{.ElementName}}, n uint64)
{{- end}}


// Sum computes the sum of all elements in the vector.
func (vector *Vector) Sum() (res {{.ElementName}}) {
	n := uint64(len(*vector))
	if n == 0 {
		return
	}
	const minN = 16*7 // AVX512 slower than generic for small n
	const maxN = (1 << 32) - 1
	if !cpu.SupportAVX512 || n <= minN || n >= maxN {
		// call sumVecGeneric
		sumVecGeneric(&res, *vector)
		return
	}

	// The assembly accumulates into 8 qwords in radix-2^32:
	// t[0]=w0l, t[1]=w0h, t[2]=w1l, t[3]=w1h, t[4]=w2l, t[5]=w2h, t[6]=w3l, t[7]=w3h
	// sum = w0l + w0h*2^32 + w1l*2^64 + w1h*2^96 + w2l*2^128 + w2h*2^160 + w3l*2^192 + w3h*2^224
	var t [8]uint64
	sumVec(&t, &(*vector)[0], n)

	// Build the sum using big.Int from pool (reduces allocations)
	// Use Horner-like evaluation: start from high limbs and shift down
	sum := sumPool.Get().(*big.Int)
	defer sumPool.Put(sum)

	sum.SetUint64(t[7])
	for i := 6; i >= 0; i-- {
		sum.Lsh(sum, 32)
		sum.Add(sum, new(big.Int).SetUint64(t[i]))
	}

	// Reduce mod q using the package-private modulus (avoids allocation)
	sum.Mod(sum, &_modulus)

	// The accumulators are sums of Montgomery-form elements, so after mod q
	// the result is already in Montgomery form. Copy limbs directly.
	words := sum.Bits()
	for i := 0; i < len(words) && i < {{.NbWords}}; i++ {
		res[i] = uint64(words[i])
	}
	return
}

//go:noescape
func sumVec(t *[8]uint64, a *{{.ElementName}}, n uint64)



// InnerProduct computes the inner product of two vectors.
// It panics if the vectors don't have the same length.
func (vector *Vector) InnerProduct(other Vector) (res {{.ElementName}}) {
	n := uint64(len(*vector))
	if n != uint64(len(other)) {
		panic("vector.InnerProduct: vectors don't have the same length")
	}
	if n == 0 {
		return
	}
	const maxN = (1 << 32) - 1
	{{- if eq .NbWords 4}}
	const minN = 1 << 62 // DISABLED: IFMA not faster, use original path
	// IFMA path with lazy reduction (available on Ice Lake+, Zen4+)
	// Uses AVX-512 IFMA instructions for fast vectorized multiplication,
	// then accumulates into 8 qword accumulators like sumVec
	if cpu.SupportAVX512IFMA && n >= minN && n < maxN {
		const blockSize = 8
		numBlocks := n / blockSize

		// Accumulate products into 8 qwords (same format as sumVec)
		var t [8]uint64
		innerProdVecIFMA(&t, &(*vector)[0], &other[0], numBlocks)

		// Handle remaining elements
		start := numBlocks * blockSize
		for i := start; i < n; i++ {
			var tmp {{.ElementName}}
			tmp.Mul(&(*vector)[i], &other[i])
			// Add to accumulators in radix-2^32 format
			t[0] += uint64(uint32(tmp[0]))
			t[1] += tmp[0] >> 32
			t[2] += uint64(uint32(tmp[1]))
			t[3] += tmp[1] >> 32
			t[4] += uint64(uint32(tmp[2]))
			t[5] += tmp[2] >> 32
			t[6] += uint64(uint32(tmp[3]))
			t[7] += tmp[3] >> 32
		}

		// Reduce using big.Int (same as Sum)
		sum := sumPool.Get().(*big.Int)
		defer sumPool.Put(sum)

		sum.SetUint64(t[7])
		for i := 6; i >= 0; i-- {
			sum.Lsh(sum, 32)
			sum.Add(sum, new(big.Int).SetUint64(t[i]))
		}
		sum.Mod(sum, &_modulus)

		words := sum.Bits()
		for i := 0; i < len(words) && i < {{.NbWords}}; i++ {
			res[i] = uint64(words[i])
		}
		return
	}
	{{- end}}
	if !cpu.SupportAVX512 || n >= maxN {
		// call innerProductVecGeneric
		// note; we could split the vector into smaller chunks and call innerProductVec
		innerProductVecGeneric(&res, *vector, other)
		return
	}
	innerProdVec(&res[0], &(*vector)[0], &other[0], uint64(len(*vector)))

	return
}

{{- if eq .NbWords 4}}
//go:noescape
func innerProdVecIFMA(t *[8]uint64, a, b *{{.ElementName}}, n uint64)
{{- end}}

//go:noescape
func innerProdVec(res *uint64, a,b *{{.ElementName}}, n uint64)

// Mul multiplies two vectors element-wise and stores the result in self.
// It panics if the vectors don't have the same length.
func (vector *Vector) Mul(a, b Vector) {
	if len(a) != len(b) || len(a) != len(*vector) {
		panic("vector.Mul: vectors don't have the same length")
	}
	n := uint64(len(a))
	if n == 0 {
		return
	}
	const maxN = (1 << 32) - 1
	{{- if eq .NbWords 4}}
	// IFMA path (available on Ice Lake+, Zen4+)
	// Uses AVX-512 IFMA instructions for fast vectorized multiplication
	if cpu.SupportAVX512IFMA && n >= 8 && n < maxN {
		const blockSize = 8
		mulVec(&(*vector)[0], &a[0], &b[0], n/blockSize)
		if n % blockSize != 0 {
			start := n - n % blockSize
			mulVecGeneric((*vector)[start:], a[start:], b[start:])
		}
		return
	}
	{{- end}}
	mulVecGeneric(*vector, a, b)
}

{{- if eq .NbWords 4}}
//go:noescape
func mulVec(res, a, b *{{.ElementName}}, n uint64)
{{- end}}