import (
	"testing"

	"github.com/consensys/gnark-crypto/ecc/{{ .Name }}/fr"
)

func TestEvaluate(t *testing.T) {

	// monomial
	{
		var m monomial
		m.coeff.SetInt64(3)
		m.exponents = make([]int, 3)
		m.exponents[0] = 1
		m.exponents[1] = 2
		m.exponents[2] = 3

		x := make([]fr.Element, 3)
		x[0].SetUint64(2)
		x[1].SetUint64(2)
		x[2].SetUint64(2)

		var res fr.Element
		res.SetUint64(192)

		r := m.evaluate(x)

		if !r.Equal(&res) {
			t.Fatal("evaluation monomial failed")
		}
	}

	// multivariate polynomial
	{
		p := make(MultivariatePolynomial, 3)

		p[0].coeff.SetUint64(1)
		p[0].exponents = []int{1, 1, 1}

		p[1].coeff.SetUint64(2)
		p[1].exponents = []int{2, 2, 2}

		p[2].coeff.SetUint64(0)
		p[2].exponents = []int{3, 2, 1}

		x := make([]fr.Element, 3)
		x[0].SetUint64(2)
		x[1].SetUint64(2)
		x[2].SetUint64(2)

		var res fr.Element
		res.SetUint64(136)

		r := p.Evaluate(x)
		if !r.Equal(&res) {
			t.Fatal("evaluation multivariate polynomial failed")
		}

	}

}