// Package {{.Package}} provides Schnorr signature scheme on the {{.Name}} curve.
//
// Documentation:
// - Wikipedia: https://en.wikipedia.org/wiki/Schnorr_signature
// - RFC8235: https://www.rfc-editor.org/rfc/rfc8235
// - BIP-340: https://github.com/bitcoin/bips/blob/master/bip-0340.mediawiki
//
package {{.Package}}
