import (
	"golang.org/x/sys/cpu"
	"{{ .FieldPackagePath }}"
)


var (
	supportAVX512 = cpu.X86.HasAVX512 && cpu.X86.HasAVX512DQ && cpu.X86.HasAVX512VBMI2
)

// q + r'.r = 1, i.e., qInvNeg = - q⁻¹ mod r
// used for Montgomery reduction
const qInvNeg = {{.QInvNeg}}
const q = {{.Q}}

// index table used in avx512 shuffling
var vInterleaveIndices = []uint64 {
	2, 3, 8, 9, 6, 7, 12, 13,
}


//go:noescape
func sisShuffle_avx512(a []{{ .FF }}.Element)

//go:noescape
func sisUnshuffle_avx512(a []{{ .FF }}.Element)

//go:noescape
func sis512_16_avx512(k256,  cosets []{{ .FF }}.Element, twiddles [][]{{ .FF }}.Element, rag, res []{{ .FF }}.Element)