import (
	"{{ .FieldPackagePath }}"
)

const supportAVX512 = false

func sisShuffle_avx512(a []{{ .FF }}.Element) {
	panic("should not be called when purego is set")
}

func sisUnshuffle_avx512(a []{{ .FF }}.Element) {
	panic("should not be called when purego is set")
}

func sis512_16_avx512(k256,  cosets []{{ .FF }}.Element, twiddles [][]{{ .FF }}.Element, rag, res []{{ .FF }}.Element) {
	panic("should not be called when purego is set")
}
