import (
	fr "{{ .FieldPackagePath }}"
)

func permutation24_avx512(input []fr.Element, roundKeys [][]fr.Element) {
	panic("permutation24_avx512 is not implemented")
}

func Permutation24_avx512(input []fr.Element, roundKeys [][]fr.Element) {
	panic("Permutation24_avx512 is not implemented")
}