import (
	fr "{{ .FieldPackagePath }}"
)

// q + r'.r = 1, i.e., qInvNeg = - q⁻¹ mod r
// used for Montgomery reduction
const qInvNeg = {{.QInvNeg}}
const q = {{.Q}}

// indices used for gather / scatter (transpose) operation
var indexGather512, indexScatter8 []uint32

func init() {
	indexGather512 = make([]uint32, 16)
	indexScatter8 = make([]uint32, 16)
	for i := 0; i < 16; i++ {
		indexGather512[i] = uint32(i * 512)
		indexScatter8[i] = uint32(i * 8)
	}
}


//go:noescape
func permutation24_avx512(input []fr.Element, roundKeys [][]fr.Element)

//go:noescape
func permutation16_avx512(input []fr.Element, roundKeys [][]fr.Element)

//go:noescape
func permutation16x24_avx512(input *[24][16]fr.Element, roundKeys [][]fr.Element)
