import (
	fr "{{ .FieldPackagePath }}"
)

func permutation24_avx512(input []fr.Element, roundKeys [][]fr.Element) {
	panic("permutation24_avx512 is not implemented")
}

func permutation16_avx512(input []fr.Element, roundKeys [][]fr.Element) {
	panic("permutation16_avx512 is not implemented")
}

func (h *Permutation) Permutation16x24(input *[16][24]fr.Element) {
	for j := 0; j < 16; j++ {
		h.Permutation(input[j][:])
	}
}