import (
	fr "{{ .FieldPackagePath }}"
)

// q + r'.r = 1, i.e., qInvNeg = - q⁻¹ mod r
// used for Montgomery reduction
const qInvNeg = {{.QInvNeg}}
const q = {{.Q}}

// indices used for gather (transpose) operation
var indexGather512, indexGather8 []uint32

func init() {
	indexGather512 = make([]uint32, 16)
	indexGather8 = make([]uint32, 16)
	for i := 0; i < 16; i++ {
		indexGather512[i] = uint32(i * 512)
		indexGather8[i] = uint32(i * 8)
	}
}


//go:noescape
func permutation24_avx512(input []fr.Element, roundKeys [][]fr.Element)

//go:noescape
func permutation16_avx512(input []fr.Element, roundKeys [][]fr.Element)

//go:noescape
func permutation16x24_avx512(input *fr.Element, nbBlocks uint64, res *fr.Element, roundKeys [][]fr.Element)

func (h *Permutation) Permutation16x24(_x [][512]fr.Element, merkleLeaves [][8]fr.Element) {
	// var transposed [24][16]fr.Element
	// for i := 0; i < 16; i++ {
	// 	for j := 0; j < 24; j++ {
	// 		transposed[j][i] = input[i][j]
	// 	}
	// }
	nbBlocks := uint64(len(_x[0]) / 16)
	permutation16x24_avx512(&_x[0][0],  nbBlocks, &merkleLeaves[0][0], h.params.RoundKeys)


	// // do the transpose inverse
	// for i := 0; i < 16; i++ {
	// 	for j := 0; j < 24; j++ {
	// 		input[i][j] = transposed[j][i]
	// 	}
	// }
}