// Package {{.Package}} provides BLS signature scheme on the {{.Name}} curve.
//
// Documentation:
// - Wikipedia: https://en.wikipedia.org/wiki/BLS_digital_signature
// - IETF: https://datatracker.ietf.org/doc/draft-irtf-cfrg-bls-signature/05/
//
package {{.Package}}
