import "github.com/consensys/gnark-crypto/utils/cpu"

// supportAdx will be set only on amd64 that has MULX and ADDX instructions
var (
	supportAdx = cpu.SupportADX
	_          = supportAdx // used in asm
)