// Package {{.Package}} provides ECDSA signature scheme on the {{.Name}} curve.
//
// The implementation is adapted from https://pkg.go.dev/crypto/ecdsa.
// Copyright 2011 The Go Authors. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.
//
// Documentation:
// - Wikipedia: https://en.wikipedia.org/wiki/Elliptic_Curve_Digital_Signature_Algorithm
// - FIPS 186-4: https://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.186-4.pdf
// - SEC 1, v-2: https://www.secg.org/sec1-v2.pdf
//
package {{.Package}}
