{{$CoordType := .Point.CoordType}}
{{$CurveName := .Point.PointName}}
{{$CurveTitle := toTitle $CurveName}}
{{$TowerDegree := .Field.Degree}}

import (
	{{- if eq $TowerDegree 1 }}
	"github.com/consensys/gnark-crypto/ecc/{{.Name}}/fp"
	{{else}}
	"github.com/consensys/gnark-crypto/ecc/{{.Name}}/internal/fptower"
	"strings"
	{{- end}}
	"testing"
	"github.com/leanovate/gopter"
	"github.com/leanovate/gopter/prop"
	"math/rand"
)

func Test{{$CurveTitle}}SqrtRatio(t *testing.T) {

	parameters := gopter.DefaultTestParameters()
	properties := gopter.NewProperties(parameters)
	gen := genCoordElem{{$CurveTitle}}(t)

	properties.Property("{{$CurveTitle}}SqrtRatio must square back to the right value", prop.ForAll(
		func(u {{$CoordType}}, v {{$CoordType}}) bool {

			var seen {{$CoordType}}
			qr := {{$CurveName}}SqrtRatio(&seen, &u, &v) == 0

			seen.
				Square(&seen).
				Mul(&seen, &v)

			var ref {{$CoordType}}
			if qr {
				ref = u
			} else {
				{{$CurveName}}MulByZ(&ref, &u)
			}

			return seen.Equal(&ref)
		}, gen, gen))

	properties.TestingRun(t, gopter.ConsoleReporter(false))
}

func genCoordElem{{$CurveTitle}}(t *testing.T) gopter.Gen {
	return func(genParams *gopter.GenParameters) *gopter.GenResult {

		genRandomElem := func() {{$CoordType}} {
			var a {{$CoordType}}

			if _, err := a.SetRandom(); err != nil {
				t.Error(err)
			}

			return a
		}
		a := genRandomElem()

		genResult := gopter.NewGenResult(a, gopter.NoShrinker)
		return genResult
	}
}

{{if not (eq $TowerDegree 1) }}//Only works on simple extensions (two-story towers)
func {{$CurveName}}CoordSetString(z *{{$CoordType}}, s string) {
	ssplit := strings.Split(s, ",")
	if len(ssplit) != {{$TowerDegree}} {
		panic("not equal to tower size")
	}
	z.SetString(
		{{range $i := interval 0 $TowerDegree}}
		ssplit[{{$i}}],{{end}}
	)
}
{{end}}

func TestEncodeToCurve{{$CurveTitle}}SSWU(t *testing.T) {

	for i, c := range {{$CurveName}}EncodeToCurveSSWUVector.cases {
		seen, err := EncodeToCurve{{$CurveTitle}}SSWU([]byte(c.msg), {{$CurveName}}EncodeToCurveSSWUVector.dst)
		if err != nil {
			t.Fatal(err)
		}

		var x {{$CoordType}}
		var y {{$CoordType}}

		{{if eq $TowerDegree 1}}
			x.SetString(c.x)
			y.SetString(c.y)
		{{else}}
			{{$CurveName}}CoordSetString(&x, c.x)
			{{$CurveName}}CoordSetString(&y, c.y)
		{{end}}

		expectedP := {{$CurveTitle}}Affine{x, y}

		if seen != expectedP {
			t.Error(i, c)
		}
	}
}

func TestHashToCurve{{$CurveTitle}}SSWU(t *testing.T) {

	for i, c := range {{$CurveName}}HashToCurveSSWUVector.cases {
		seen, err := HashToCurve{{$CurveTitle}}SSWU([]byte(c.msg), {{$CurveName}}HashToCurveSSWUVector.dst)
		if err != nil {
			t.Fatal(err)
		}

		var x {{$CoordType}}
		var y {{$CoordType}}

		{{if eq $TowerDegree 1}}
			x.SetString(c.x)
			y.SetString(c.y)
		{{else}}
			{{$CurveName}}CoordSetString(&x, c.x)
			{{$CurveName}}CoordSetString(&y, c.y)
		{{end}}

		expectedP := {{$CurveTitle}}Affine{x, y}

		if seen != expectedP {
			t.Error(i, c)
		}
	}

	t.Log(len({{$CurveName}}HashToCurveSSWUVector.cases), "cases verified")
}

func Benchmark{{$CurveTitle}}EncodeToCurveSSWU(b *testing.B) {
	const size = 54
	bytes := make([]byte, size)
	dst := {{$CurveName}}EncodeToCurveSSWUVector.dst
	b.ResetTimer()

	for i := 0; i < b.N; i++ {

		bytes[rand.Int()%size] = byte(rand.Int())

		if _, err := EncodeToCurve{{$CurveTitle}}SSWU(bytes, dst); err != nil {
			b.Fail()
		}
	}
}

func Benchmark{{$CurveTitle}}HashToCurveSSWU(b *testing.B) {
	const size = 54
	bytes := make([]byte, size)
	dst := {{$CurveName}}HashToCurveSSWUVector.dst
	b.ResetTimer()

	for i := 0; i < b.N; i++ {

		bytes[rand.Int()%size] = byte(rand.Int())

		if _, err := HashToCurve{{$CurveTitle}}SSWU(bytes, dst); err != nil {
			b.Fail()
		}
	}
}

{{ if eq $CurveName "g1"}}
type hashTestVector struct {
	dst   []byte
	cases []hashTestCase
}

type hashTestCase struct {
	msg string
	x   string
	y   string
}
{{end}}

var {{$CurveName}}HashToCurveSSWUVector hashTestVector
var {{$CurveName}}EncodeToCurveSSWUVector hashTestVector