{{ define "import_fr" }}

{{ if eq .Name "bls377"}}
	"github.com/consensys/gurvy/bls377/fr"
{{ else if eq .Name "bls381"}}
	"github.com/consensys/gurvy/bls381/fr"
{{ else if eq .Name "bn256"}}
	"github.com/consensys/gurvy/bn256/fr"
{{ else if eq .Name "bw761"}}
	"github.com/consensys/gurvy/bw761/fr"
{{end}}

{{end}}

{{ define "import_curve" }}
{{if eq .Name "bls377"}}
	curve "github.com/consensys/gurvy/bls377"
{{else if eq .Name "bls381"}}
	curve "github.com/consensys/gurvy/bls381"
{{else if eq .Name "bn256"}}
	curve "github.com/consensys/gurvy/bn256"	
{{else if eq .Name "bw761"}}
	curve "github.com/consensys/gurvy/bw761"	
{{end}}


{{end}}