import "github.com/consensys/gnark-crypto/ecc/{{ .Name }}/fr"

// MockBatchProofsSinglePoint empty struct
type MockBatchProofsSinglePoint struct {
	Point         fr.Element
	ClaimedValues []fr.Element
}

func (mp *MockBatchProofsSinglePoint) Marshal() []byte {
	panic("not implemented")
}