{{ define "import_fr" }}

{{ if eq .Curve "BLS377"}}
	"github.com/consensys/gurvy/curve/bls377/fr"
{{ else if eq .Curve "BLS381"}}
	"github.com/consensys/gurvy/curve/bls381/fr"
{{ else if eq .Curve "BN256"}}
	"github.com/consensys/gurvy/curve/bn256/fr"
{{ else if eq .Curve "BW761"}}
	"github.com/consensys/gurvy/curve/bw761/fr"
{{end}}

{{end}}

{{ define "import_curve" }}
{{if eq .Curve "BLS377"}}
	curve "github.com/consensys/gurvy/curve/bls377"
{{else if eq .Curve "BLS381"}}
	curve "github.com/consensys/gurvy/curve/bls381"
{{else if eq .Curve "BN256"}}
	curve "github.com/consensys/gurvy/curve/bn256"	
{{else if eq .Curve "BW761"}}
	curve "github.com/consensys/gurvy/curve/bw761"	
{{end}}


{{end}}