// Package {{.Package}} provides fflonk commitment, based on shplonk.
// 
// See https://eprint.iacr.org/2020/081.pdf for shplonk
// See https://eprint.iacr.org/2021/1167.pdf for fflonk.
package {{.Package}}